@model Articles.Models.Article

@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rating of @Html.DisplayNameFor(model => model.Name) </h2>

<div>
    <h4>Article</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>
    </dl>
</div>
<div>
    <button class="btn btn-primary" onclick="window.location.href='@Url.Action("Index", "Article")'">Return</button>
</div>
